{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}

    <h1  class="mt-5">{{ post.title }}</h1>
    <small>By:
        {{ post.author.first_name }}
        {{ post.author.last_name }}-
        {{post.post_date}}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                -<a href="{% url 'update_post' post.pk %}">(Edit)</a>-
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}
    </small><br/>
    <hr><br/>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}">
    {% endif %}
<br/>
    {{ post.body|safe }}

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
    {% if user.is_authenticated %}
        {% if post_is_liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    {% else %}
       <a class="btn btn-primary btn-sm" href="{% url 'login' %}">Like</a>

        -<small class="alert alert-danger" role="alert">
            Login to Like
        </small>
    {% endif %}
    </form>

        <strong class="text-secondary"> {{ total_likes }} Like{{ total_likes|pluralize }} </strong>

    <br/><br/>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-2">
                {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}" alt="..." width=200 height=200>
                {% else %}
                    <img src="{% static 'ablog/images/agent-1.png' %}" alt="..." width=200 height=200>
                {% endif %}
            </div>
            <div class="col-md-10">
              <div class="card-body">

                <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                  <p class="card-text">
                      <small class="text-muted">
                          {% if post.author.profile.website_url %}
                            <a href="{{ post.author.profile.website_url }}">Website</a> |
                          {% endif %}
                          {% if post.author.profile.facebook_url %}
                            <a href="{{ post.author.profile.facebook_url }}">Facebook</a> |
                          {% endif %}
                          {% if post.author.profile.instagram_url %}
                            <a href="{{ post.author.profile.instagram_url }}">Instagram</a> |
                          {% endif %}
                          {% if post.author.profile.twitter_url %}
                            <a href="{{ post.author.profile.twitter_url }}">Twitter</a> |
                          {% endif %}
                          {% if post.author.profile.linkedin_url %}
                            <a href="{{ post.author.profile.linkedin_url }}">LinkedIn</a>
                          {% endif %}
                      </small>
                  </p>
                <p class="card-text">{{ post.author.profile.bio }}</p>
              </div>
            </div>
          </div>
        </div>

    <br/><br/>


{% endblock %}
