{% extends 'base.html' %}
{% block title %}Delete blog post!{% endblock %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1  class="mt-5">Delete Post</h1>
        <br/><br/>

        <h3>Delete: {{ post.title }}</h3>

        <br/>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <strong>Are you sure?!</strong><br/><br/>
                <button class="btn btn-outline-danger">Delete Post!</button>
        </div>
    {% else %}
        You're not allowed here! (and you know it....)
    {% endif %}
{% else %}
You're not allowed here! (and you know it....)
{% endif %}

{% endblock %}